.container-home {
  background-image: url(../assets/homeBackground.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* width: calc(100vw - var(--width-navbar)); */
}

.container-loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 23rem;
  height: 14rem;
  background-color: var(--color-white);
}

.form {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-bottom: 1rem;
}

.input {
  margin-bottom: 0.8rem;
  width: 100%;
  height: 2rem;
  padding-left: 0.4rem;
  font-family: var(--font-h1);
  font-size: 12px;
}

.button-login {
  width: 15rem;
  height: 2rem;
  color: var(--color-blue);
  background-color: var(--color-orange);
  font-size: var(--XS);
  font-weight: var(--extra-bold);
  font-family: var(--font-h1);
  border-radius: 0.2rem;
  -webkit-box-shadow: 0px 5px 10px -3px rgba(161, 159, 159, 0.88);
  box-shadow: 0px 5px 10px -3px rgba(161, 159, 159, 0.88);
  border: none;
  margin-bottom: 0.5rem;
  cursor: pointer;
}

.button-login:hover {
  transform: scale(1.02);
}

.forgot-password {
  text-align: center;
  font-size: var(--XS);
  color: var(--color-gray);
}
