@import "../styles/App.css";

.chart-container {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  margin: 4em;
}

.statistics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 1.5em;
}

.header-title-chart {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-orange);
  width: 74em;
  height: 2.5em;
  border-radius: 5px;
}

.header-title-chart > h2 {
  color: var(--color-blue);
  font-family: var(--font-h1);
  text-transform: uppercase;
  font-size: 1.6em;
  font-weight: 900;
}

.chart1 {
  width: 50%;
  text-align: center;
}

.chart2 {
  width: 50%;
  text-align: center;
}

.chart1>p {
  margin-top: 1rem;
}

.chart2>p {
  margin-top: 1rem;
}
